body{
    width: 300px;;
    height: 300px;
    background:url("https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_640.png"), url("https://png.pngtree.com/thumb_back/fh260/background/20240914/pngtree-cuttingedge-ai-waste-to-energy-solutions-for-sustainable-conversion-and-landfill-image_16206187.jpg");
    background-blend-mode: normal;
    background-blend-mode: multiply;
    background-blend-mode: hard-light;
    background-blend-mode: difference;
}
p {
    border:20px black;
    border-style:ridge;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(60deg, aqua,brown,aqua,brown);
    font: 30px italic;
    text-decoration: underline;
      }
.border-box{
    background-clip: border-box;
}
.padding-box{
    background-clip: padding-box;
}
